@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    &:focus{
        outline: none;
    }
}

$primary-color-cyan-70 : #489;
$primary-color-cyan-50 : #6AB;
$primary-color-cyan-20 : #ADE;

$secondary-color-gray-70 : #666;
$secondary-color-gray-50 : #757575;
$secondary-color-gray-20 : #E8E8E8;
$secondary-color-gray-10 : #F8F8F8;

$Black:#000;
$White:#FFF;
$Blue-Gray: #AABBCC;
$Dark-Cyan-Gradient:linear-gradient(0,#337788,#66AABB);
$Light-Cyan-Gradient:lineat-gradient(135,#AADDEE,#66AABB);

body{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
};
// header
.header{
    width:100vw;
    height:54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $White;
    position: sticky;
    top: 0;
    z-index: 2;
    .head{
        width:1200px;
        display: flex;
        padding: 10px 10px;
        justify-content: space-between;
        @media only screen and (max-width:1200px) {
            width:80%;
        };
        @media only screen and (max-width:600px) {
            width:100%;
        };
        .head__title{
            color:$primary-color-cyan-70;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 34px;
            text-decoration: none;
        };
        .navbar{
            display: flex;
            align-items: center;
            .navbar__link{
                height: 34px;
                padding: 10px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 14px;
            };
        };

    }

}
// hero
.hero{
    width:100vw;
    height: 320px;
    background-image: url("/images/welcom.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width:1200px) {
        background-position: left;
    }
    .hero__slogan{
        width:1200px;
        margin: auto;
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        @media only screen and (max-width:1200px) {
            width:80%;
            padding: 15px;
        };
        @media only screen and (max-width:600px) {
            width:100%;
        }
        .slogan__title{
            height:41px;
            color:$secondary-color-gray-10;
            text-shadow: 0px 0px 30px #ABC;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
        };
        .slogan__subtitle{
            height:28px;
            color:$secondary-color-gray-10;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
        };
        .slogan__search{
            display: flex;
            width: 460px;
            height: 46px;
            align-items: center;
            @media only screen and (max-width:1200px) {
                width:360px;
            };
            @media only screen and (max-width:600px) {
                width:285px;
            };
            .search__input{
                width:400px;
                height: 100%;
                border: none;
                padding: 15px;
                border-radius: 5px 0 0 5px;
                box-shadow: 0px 0px 20px 0px $Blue-Gray;
                color: $secondary-color-gray-50;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 13.3px;
                &:focus{
                    color: $Black;
                    outline: none;
                };
                @media only screen and (max-width:1200px) {
                    width:300px;
                };
                @media only screen and (max-width:600px) {
                    width:225px;
                };
            };
            .search__button{
                width:60px;
                height: 100%;
                background-color: $primary-color-cyan-70;
                border: none;
                border-radius: 0 5px 5px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                .search__icon{
                    width: 30px;
                    height: 30px;
                };
            };
            
        }
    }
}
// main
.main{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    .mrts-list{
        width:1200px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width:1200px) {
            width:80%;
        };
        @media only screen and (max-width:600px) {
            width:100%;
        };
        .mrts-list__left-container{
            width:47px;
            height: 50px;
            padding: 9px 0px 9px 15px;
            .mrts-list__controller{
                width: 32px;
                height: 32px;
                background-image: url("/icon/arrow-left.png");
                background-size: cover;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .mrts-list__right-container{
            width:47px;
            height: 50px;
            padding: 9px 15px 9px 0px;
            .mrts-list__controller{
                width: 32px;
                height: 32px;
                background-image: url("/icon/arrow-right.png");
                background-size: cover;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .mrts-list__container{
            height:50px;
            width:calc(100% - 94px);
            padding: 13px 10px;
            
            .mrts-list__wrapper{
                width: 100%;
                height:50px;
                overflow-y:hidden;
                overflow-x: scroll;
                display: flex;
                transition: scroll 500ms ease-out;
                scroll-behavior: smooth;
                -ms-overflow-style: none;  
                /* IE and Edge */
                scrollbar-width: none;  
                /* Firefox */
                .mrts-list__link{
                    flex-shrink: 0;
                    padding: 5px 15px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 13.3px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &::-webkit-scrollbar {
                    width: 0px;
                    background: transparent; /* make scrollbar transparent */
                }
            }
            
        } 
    };
    .attractions-list{
        width:1200px;
        min-height: calc(100vh - 628px);
        height: 100%;
        display: grid;
        padding: 15px;
        grid-gap: 30px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(auto-fill, 240px);
        @media only screen and (max-width:1200px) {
            width:80%;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(auto-fill, 325px);
            grid-gap: 15px;
        };
        @media only screen and (max-width:600px) {
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(auto-fill, 280px);
            width:100%;
        };
        .attraction__message{
            grid-column: 1/-1;
            .attraction__error{
                text-align: center;
            }
        }
        .attraction__card{
            width:100%;
            height: 240px;
            border-radius: 5px;
            border: 1px solid $secondary-color-gray-20;
            background: $White;
            z-index: 1;
            @media only screen and (max-width:1200px) {
                height: 325px;
            };
            @media only screen and (max-width:600px) {
                min-width: 320px;
                height: 280px;
            };
            .attraction__link{
                display: block;
                position: relative;
                width:auto;
                height:195px;
                background-size: cover;
                border-radius: 5px 5px 0 0;
                &:hover{
                    cursor: pointer;
                }
                @media only screen and (max-width:1200px) {
                    height: 280px;
                };
                @media only screen and (max-width:600px) {
                    height: 235px;
                };
            };
            .attraction__name{
                height:40px;
                width:100%;
                padding: 10px;
                vertical-align: middle;
                position: absolute;
                bottom: 0;
                background-color:rgba( $Black,0.6);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color:$White;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
            };
            .attraction__info{
                display: flex;
                align-items: center;
                height:45px;
                padding: 10px;
                .attraction__mrt{
                    width:50%;
                    text-align: left;
                    vertical-align: middle;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    color:$secondary-color-gray-50;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 25px;

                };
                .attraction__category{
                    width:50%;
                    text-align: right;
                    vertical-align: middle;
                    color:$secondary-color-gray-50;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 25px;
                };
            }
        }
    };
}
// footer
.footer{
    width:100vw;
    height:104px;
    background-color: $secondary-color-gray-50;
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    .footer__copyright{
        margin:5px 0;
        color: $White;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px;
    }
}
// attraction page
.separator{
    border: 1px solid $secondary-color-gray-20;
    width:100%;
};

.main-attraction{
    gap:40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    @media only screen and (max-width:1200px){
        padding-right: 10px;
        padding-left: 10px;
        width:80%;
    };
    @media only screen and (max-width:600px){
        width: 100%;
        padding-top: 0;
    };
    // attraction page >> intro
    .attraction-intro{
        width: 1200px;
        height: 400px;
        display: grid;
        gap: 30px;
        padding: 0px 15px;
        grid-template-columns: 540px 600px;
        @media only screen and (max-width:1200px) {
            width:100%;
            height:auto;
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2,1fr);
        };
        @media only screen and (max-width:600px){
            gap:20px;
            width:100vw;
        };
        .attraction-intro__slider{
            width: 100%;
            height: 400px;
            position: relative;
            background-color: $Blue-Gray;
            .attraction-intro__images-wrapper{
                width: 100%;
                height: 400px;
                display: flex;
                // overflow: hidden;
                position: absolute;
                transition: all 500ms ease-out;

                .attraction-intro__image-container{
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                    display: none;
                    transition: all 200ms ease-out;
                    
                    img{
                        display: block;
                        width: 100%;
                        height:400px;
                        object-fit: cover;
                    }
                    
                };
            };
            .attraction-intro__dots-container{
                width:100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 12px;
                opacity: 0.75;
                z-index: 1;
                .attraction-intro__dot{
                    background-color: $White;
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                    margin: 0 6px;
                    border: 1px solid $White;
                    &:hover{
                        cursor: pointer;
                    };
                };
                .dot--active{
                    background-color: $Black;
                };

            };
            .attraction-intro__controller-left{
                height:400px;
                display: flex;
                align-items: center;
                position: absolute;
                left: 10px;
                z-index: 1;
                opacity: 0.75;
                cursor: pointer;
                img{
                    width: 36px;
                    height: 36px;
                }
            };
            .attraction-intro__controller-right{
                height:400px;
                display: flex;
                align-items: center;
                position: absolute;
                right: 10px;
                z-index: 1;
                opacity: 0.75;
                cursor: pointer;
                img{
                    width: 36px;
                    height: 36px;
                }
            };
        }
        .attraction-intro__intro{
            width:100%;
            padding-bottom: 8px;
            display: flex;
            flex-direction: column;
            @media only screen and (max-width:600px){
                padding: 0 10px 8px 10px;
            }
            .attraction-intro__name{
                color: $secondary-color-gray-70;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 33px;
                vertical-align: middle;
                margin-bottom: 15px;
            };
            .attraction-intro__category-and-mrt{
                color: $secondary-color-gray-70;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px;
                vertical-align: middle;
                margin-bottom: 20px;
            };
            .attraction-intro__booking{
                flex-grow: 2;
                max-height: 100%;
                background-color:$secondary-color-gray-20;
                padding: 15px 20px;
                display: flex;
                flex-direction: column;
                gap:15px;
                border-radius: 5px;
                .attraction-intro__label{
                    height: 22px;
                    color: $secondary-color-gray-70;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22px;
                    vertical-align: middle;
                };
                .attraction-intro__subtitle{
                    height:24px;
                    color: $secondary-color-gray-70;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    vertical-align: middle;
                };
                .attraction-intro__option{
                    color:$secondary-color-gray-70;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 14px;
                    vertical-align: middle;
                };
                .attraction-intro__date-section{
                    height:35px;
                    gap:5px;
                    display: flex;
                    align-items: center;
                    //for safari
                    input [type= ‘date’ ]  {
                        &::after{
                            content: attr(placeholder);
                        }
                    } 
                    .attraction-intro__date{
                        width:193px;
                        height:35px;
                        background-color: $White;
                        padding: 5px 10px;
                        border: none;
                        display: flex;
                        &:focus{
                            outline: none;
                        };
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                    };
                    
                };
                .attraction-intro__time{
                    height:22px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .attraction-intro__option{
                        padding: 0 8px 0 5px;
                        gap: 4px;
                        display: flex;
                        align-items: center;
                        .attraction-intro__radio{
                            height: 22px;
                            width: 22px;
                            border:$White;
                            accent-color: $primary-color-cyan-70;
                            appearance: none;
                            background-color: $White;
                            border-radius: 50%;
                            &:checked{
                                background-color: $primary-color-cyan-70;
                                border:solid 2px $White;
                            }
                        };
                        .attraction-intro__radio-label{
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 14px;
                        }
                    }
                    
                };
                .attraction-intro__price{
                    height:22px;
                    display: flex;
                    align-items: center;
                };
                .attraction-intro__submit{
                    height:36px;
                    width:fit-content;
                    padding: 10px 20px;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    border: none;
                    border-radius: 5px;
                    background-color: $primary-color-cyan-70;
                    color: $White;
                    margin-top: 10px;
                };
                
            };

        };

    }
    .separator{
        border: 1px solid $secondary-color-gray-20;
        width:1200px;
        @media only screen and (max-width:1200px){
            width:100%;
        };
    };
    // attraction page >> info
    .attraction-info{
        width: 1200px;
        min-height: 400px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width:1200px){
            width:100%;
            padding: 0 0 0 10px;
        };
        .attraction-info__content{
            color: $secondary-color-gray-70;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
        };
        .attraction-info__title{
            color: $secondary-color-gray-70;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
        }
    }
}
