
$primary-color-cyan-70 : #489;
$primary-color-cyan-50 : #6AB;
$primary-color-cyan-20 : #ADE;

$secondary-color-gray-70 : #666;
$secondary-color-gray-50 : #757575;
$secondary-color-gray-20 : #E8E8E8;
$secondary-color-gray-10 : #F8F8F8;

$Black:#000;
$White:#FFF;
$Blue-Gray: #AABBCC;
$Dark-Cyan-Gradient:linear-gradient(0,#337788,#66AABB);
$Light-Cyan-Gradient:lineat-gradient(135,#AADDEE,#66AABB);

$alert:rgb(241, 67, 67);
$success:rgb(35, 159, 35);