@mixin headline {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
};
//used both
@mixin link-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
};
@mixin slogan-title{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
};
@mixin slogan-subtitle{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
};
@mixin search-input{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
};
@mixin card-title{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
};
//used both
@mixin card-subtitle{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
};
@mixin text{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
};
@mixin intro-title{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
};
@mixin intro-subtitle{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
};
@mixin intro-label{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
};
@mixin button{
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
};
@mixin info-content{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};
@mixin info-title{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
};
@mixin booking-title{
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
