@use './utils' as * ;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    &:focus{
        outline: none;
    };
};
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100vw;
    
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    };
};
// attraction page
.separator{
    width:100%;

    border: none;
    border-top: 1px solid $secondary-color-gray-20;
};

.main-attraction{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
    width: 100%;
    min-height: calc(100vh - 158px);
    padding: 40px 0;
    @media only screen and (max-width: 1200px){
        width:80%;
        padding-right: 10px;
        padding-left: 10px;
    };
    @media only screen and (max-width: 600px){
        width: 100%;
        padding-top: 0;
    };
    // attraction page >> intro
    .attraction-intro{
        display: grid;
        grid-template-columns: 540px 600px;
        gap: 30px;

        width: 1200px;
        height: 400px;
        padding: 0px 15px;
        @media only screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2,1fr);

            width:100%;
            height:auto;
            padding: 0;
        };
        @media only screen and (max-width: 600px){
            gap: 20px;
            width: 100vw;
        };
        .attraction-intro__slider{
            position: relative;

            width: 100%;
            height: 400px;
            .attraction-intro__images-wrapper{
                display: flex;

                position: absolute;
                
                width: 100%;
                height: 400px;
                
                transition: all 500ms ease-out;
                .attraction-intro__image-container{
                    display: none;

                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                    img{
                        display: block;
                        
                        width: 100%;
                        height: 400px;
                        object-fit: cover;
                        
                        border-radius: 5px;
                        @media only screen and (max-width: 600px){
                            border-radius: 0;
                        };
                    };
                };
            };
            .attraction-intro__dots-container{
                display: flex;
                justify-content: center;
                align-items: center;
                
                position: absolute;
                bottom: 12px;
                z-index: 1;
                
                width: 100%;

                opacity: 0.75;
                .attraction-intro__dot{
                    width: 12px;
                    height: 12px;
                    margin: 0 6px;
                    background-color: $White;
                    
                    border: 1px solid $White;
                    border-radius: 50%;
                    &:hover{
                        cursor: pointer;
                    };
                };
                .dot--active{
                    background-color: $Black;
                };
            };
            .attraction-intro__controller-left{
                display: flex;
                align-items: center;

                position: absolute;
                left: 10px;
                z-index: 1;
                
                height:400px;
                
                opacity: 0.75;
                cursor: pointer;
                img{
                    width: 36px;
                    height: 36px;
                };
            };
            .attraction-intro__controller-right{
                @extend .attraction-intro__controller-left;
                left: calc(100% - 46px);
            };
        };
        .attraction-intro__intro{
            display: flex;
            flex-direction: column;

            width:100%;
            padding-bottom: 8px;
            @media only screen and (max-width: 600px){
                padding: 0 10px 8px 10px;
            };
            .attraction-intro__name{
                vertical-align: middle;

                margin-bottom: 15px;

                color: $secondary-color-gray-70;
                @include intro-title;
            };
            .attraction-intro__category-and-mrt{
                vertical-align: middle;
                
                margin-bottom: 20px;

                color: $secondary-color-gray-70;
                @include intro-subtitle;
            };
            .attraction-intro__booking{
                display: flex;
                flex-direction: column;
                gap: 15px;

                max-height: 100%;
                padding: 15px 20px;
                flex-grow: 2;
                background-color: $secondary-color-gray-20;
                
                border-radius: 5px;
                .attraction-intro__label{
                    vertical-align: middle;

                    height: 22px;
                    
                    color: $secondary-color-gray-70;
                    @include intro-label;
                };
                .attraction-intro__subtitle{
                    vertical-align: middle;

                    height: 24px;
                    
                    color: $secondary-color-gray-70;
                    @include intro-subtitle;
                };
                .attraction-intro__option{
                    vertical-align: middle;

                    color: $secondary-color-gray-70;
                    @include link-text;
                };
                .attraction-intro__date-section{
                    display: flex;
                    align-items: center;
                    gap:5px;
                    
                    height:35px;
                    //for safari
                    input [type = "date" ]  {
                        &::after{
                            content: attr(placeholder);
                        };
                    };
                    .attraction-intro__date{
                        display: flex;

                        width: 193px;
                        height: 35px;
                        padding: 5px 10px;
                        background-color: $White;
                        
                        @include card-subtitle;
                        
                        border: none;
                        &:focus{
                            outline: none;
                        };
                    };
                };
                .attraction-intro__time{
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    height:22px;
                    .attraction-intro__option{
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        
                        padding: 0 8px 0 5px;
                        .attraction-intro__radio{
                            width: 22px;
                            height: 22px;
                            appearance: none;
                            background-color: $White;
                            
                            border:$White;
                            border-radius: 50%;
                            &:checked{
                                background-color: $primary-color-cyan-70;
                                
                                border:solid 2px $White;
                            };
                        };
                        .attraction-intro__radio-label{
                            @include link-text;
                        };
                    };
                };
                .attraction-intro__price{
                    display: flex;
                    align-items: center;

                    height: 22px;
                };
                .attraction-intro__submit{
                    width: fit-content;
                    height:36px;
                    margin-top: 10px;
                    padding: 10px 20px;
                    background-color: $primary-color-cyan-70;

                    color: $White;
                    @include button;

                    border: none;
                    border-radius: 5px;
                };
            };
        };
    };
    .separator{
        border: none;
        border-top: 1px solid $secondary-color-gray-20;
        width: 1200px;
        @media only screen and (max-width: 1200px){
            width: 100%;
        };
    };
    // attraction page >> info
    .attraction-info{
        display: flex;
        flex-direction: column;

        width: 1200px;
        min-height: 400px;
        padding: 10px;
        @media only screen and (max-width: 1200px){
            width: 100%;
            padding: 0;
        };
        .attraction-info__content{
            margin-bottom: 20px;

            color: $secondary-color-gray-70;
            @include info-content;
        };
        .attraction-info__title{
            color: $secondary-color-gray-70;
            @include info-title;
        };
    };
};
