@use './utils' as * ;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    &:focus{
        outline: none;
    };
};
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100vw;
    
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    };
};
// booking page
.separator{
    width:100%;

    border: none;
    border-top: 1px solid $secondary-color-gray-20;
};
.main-booking{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1200px;
    min-height: calc(100vh - 158px);
    padding: 40px 0;
    @media only screen and (max-width: 1200px) {
        width: 80vw;
        padding: 40px 10px;
    };
    @media only screen and (max-width: 600px) {
        width: 100vw;
    };
    .booking__welcome{
        width:1000px;
        margin-bottom: 30px;

        color:$secondary-color-gray-70;
        @include booking-title;
        &:nth-child(2){
            display: none;
        };
        @media only screen and (max-width: 1200px) {
            width: 80vw;
            padding: 0 10px;
        };
        @media only screen and (max-width: 600px) {
            width: 100vw;
        };
    };
    .booking__none{
        @extend .booking__welcome;
        @include link-text;
    };
    .booking__steps{
        display: none;
        flex-direction: column;
        align-items: center;
        gap:40px;

        width:1200px;
        @media only screen and (max-width: 1200px) {
            width: 80vw;
        };
        @media only screen and (max-width: 600px) {
            width: 100vw;
            padding: 0 10px;
        };
        .separator{
            @extend .separator;
        };
        .booking__list{
            display: flex;
            flex-direction: column;
            margin: 0 10px;
            gap: 20px;

            width:1000px;
            @media only screen and (max-width: 1200px) {
                width: 80vw;
                padding: 0 10px;
            };
            @media only screen and (max-width: 600px) {
                width: 100vw;
            };
            .list-item{
                display: grid;
                grid-template-columns: 250px minmax(300px, 100vw);
                gap:30px;

                width: 100%;
                height:200px;
                margin: 0 10px;
                @media only screen and (max-width: 600px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: minmax(250px,300px), 180px;
                    height:auto;
                    gap:10px;
                    margin:15px 0;
                };
                .item__img{
                    width:250px;
                    height:200px;
                    object-fit: cover;
                    @media only screen and (max-width: 600px) {
                        width:100%;
                        min-height: 250px;
                    };
                    img{
                        width:250px;
                        height:200px;
                        object-fit: cover;
                        @media only screen and (max-width: 600px) {
                            width:100%;
                            min-height: 250px;
                        };
                    };
                };
                .item__info-container{
                    display: flex;
                    flex-direction: column;
                    gap:15px;

                    position: relative;
                    
                    @include text;
                    @media only screen and (max-width: 600px) {
                        width: 100%;
                        height: 180px;
                    };
                    .item__delete{
                        position: absolute;
                        top:0;
                        right:0;

                        width:30px;
                        height:30px;
                        &:hover{
                            cursor: pointer;
                        }
                        @media only screen and (max-width: 600px) {
                            bottom:0px;
                            top:auto;
                        };
                    };
                    .item__title{
                        margin-bottom: 10px;

                        color:$primary-color-cyan-70;
                    };
                    .item__info{
                        color:$secondary-color-gray-70;
                        .item__content{
                            margin-left: 5px;
                            font-weight: 500;
                        };
                    };  
                    };
            };
        };
        .booking__contact{
            width:1000px;
            display: flex;
            flex-direction: column;
            gap:15px;
    
            color:$secondary-color-gray-70;
            @media only screen and (max-width: 1200px) {
                width: 80vw;
                padding: 0 10px;
            };
            @media only screen and (max-width: 600px) {
                width: 100vw;
                
            };
            .booking__title{
                margin-bottom: 5px;
    
                @include booking-title;
            };
            .booking__info{
                height:38px;
                .booking__label{
                    @include link-text
                };
                .booking__input{
                    height:100%;
                    padding:10px;
                    
                    color:$Black;
                    @include link-text;
                    background:$White;
    
                    border-radius: 5px;
                    border: 1px solid $secondary-color-gray-20;
                    &::placeholder{
                        color:$secondary-color-gray-50;
                    }
                };
            };
            .booking__note{
                height:auto;
                padding:5px 0;
    
                @include slogan-subtitle;
            };
        };
        .booking__payment{
            @extend .booking__contact;
        };
        .booking__summary{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap:22px;
    
            width:1000px;
            padding-bottom: 22px;
            @media only screen and (max-width: 1200px) {
                width: 80vw;
                padding: 0 10px;
            };
            @media only screen and (max-width: 600px) {
                width: 100vw;
            };
            .booking__total-cost{
                color:$secondary-color-gray-70;
                @include text;
            };
            .booking__submit{
                width: fit-content;
                height: 36px;
                padding: 10px 20px;
                background-color: $primary-color-cyan-70;
    
                color:$White;
                @include button;
    
                border: none;
                border-radius: 5px;
                &:hover{
                    cursor: pointer;
                }
            };
        };
    };
};