@use './utils' as * ;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    &:focus{
        outline: none;
    };
};
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100vw;
    
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    };
};
.transaction-animation{
    display: none;
    position: fixed;

    width:100%;
    height:100vh;
    background-color: $White;
    z-index: 100;
    .animation-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:auto;
        ul{
            display: flex;
    
            width:100px;
            height:80px;
            li{
                list-style: none;
                width:6px;
                height:20px;
                margin:0 4px;
                background-color: $primary-color-cyan-70;
    
                animation: animate .7s infinite alternate;
                @keyframes animate {
                    0% {
                        transform: scaleY(1);
                    };
                    25% {
                        transform: scaleY(1);
                    };
                    50% {
                        transform: scaleY(1);
                    };
                    75% {
                        transform: scaleY(1);
                    };
                    100% {
                        transform: scaleY(3);
                    };
                }
                &:nth-child(1){
                    animation-delay: .1s;
                };
                &:nth-child(2){
                    animation-delay: .2s;
                };
                &:nth-child(3){
                    animation-delay: .3s;
                };
                &:nth-child(4){
                    animation-delay: .4s;
                };
                &:nth-child(5){
                    animation-delay: .5s;
                };
                &:nth-child(6){
                    animation-delay: .6s;
                };
            };
        };
        p{
            color: $primary-color-cyan-70;
        }
    }
}
// booking page
.separator{
    width:100%;

    border: none;
    border-top: 1px solid $secondary-color-gray-20;
};
.main-booking{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1200px;
    min-height: calc(100vh - 158px);
    padding: 40px 0;
    @media only screen and (max-width: 1200px) {
        width: 80vw;
        padding: 40px 10px;
    };
    @media only screen and (max-width: 600px) {
        width: 100vw;
    };
    .booking__welcome{
        width:1000px;
        margin-bottom: 30px;

        color:$secondary-color-gray-70;
        @include booking-title;
        &:nth-child(2){
            display: none;
        };
        @media only screen and (max-width: 1200px) {
            width: 80vw;
            padding: 0 10px;
        };
        @media only screen and (max-width: 600px) {
            width: 100vw;
        };
    };
    .booking__none{
        @extend .booking__welcome;
        @include link-text;
    };
    .booking__steps{
        display: none;
        flex-direction: column;
        align-items: center;
        gap:40px;

        width:1200px;
        @media only screen and (max-width: 1200px) {
            width: 80vw;
        };
        @media only screen and (max-width: 600px) {
            width: 100vw;
            padding: 0 10px;
        };
        .separator{
            @extend .separator;
        };
        .booking__list{
            display: flex;
            flex-direction: column;
            margin: 0 10px;
            gap: 20px;

            width:1000px;
            @media only screen and (max-width: 1200px) {
                width: 80vw;
                padding: 0 10px;
            };
            @media only screen and (max-width: 600px) {
                width: 100vw;
            };
            .list-item{
                display: grid;
                grid-template-columns: 250px minmax(300px, 100vw);
                gap:30px;

                width: 100%;
                height:200px;
                margin: 0 10px;
                @media only screen and (max-width: 800px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: minmax(250px,300px), 200px;
                    height:auto;
                    gap:10px;
                    margin:15px 0;
                };
                .item__img{
                    width:250px;
                    height:200px;
                    object-fit: cover;
                    @media only screen and (max-width: 800px) {
                        width:100%;
                        min-height: 250px;
                    };
                    img{
                        width:250px;
                        height:200px;
                        object-fit: cover;
                        @media only screen and (max-width: 800px) {
                            width:100%;
                            min-height: 250px;
                        };
                    };
                };
                .item__info-container{
                    display: flex;
                    flex-direction: column;
                    gap:15px;

                    position: relative;
                    
                    @include text;
                    @media only screen and (max-width: 800px) {
                        width: 100%;
                        height: 200px;
                    };
                    .item__delete{
                        position: absolute;
                        top:0;
                        right:0;

                        width:30px;
                        height:30px;
                        &:hover{
                            cursor: pointer;
                        }
                        @media only screen and (max-width: 800px) {
                            bottom:0px;
                            top:auto;
                        };
                    };
                    .item__title{
                        margin-bottom: 10px;

                        color:$primary-color-cyan-70;
                    };
                    .item__info{
                        color:$secondary-color-gray-70;
                        line-height: 20px;
                        .item__content{
                            margin-left: 5px;
                            font-weight: 500;
                            line-height: 20px;
                        };
                    };  
                    };
            };
        };
        .booking__contact{
            width:1000px;
            display: flex;
            flex-direction: column;
            gap:15px;
    
            color:$secondary-color-gray-70;
            @media only screen and (max-width: 1200px) {
                width: 80vw;
                padding: 0 10px;
            };
            @media only screen and (max-width: 600px) {
                width: 100vw;
                
            };
            .booking__title{
                margin-bottom: 5px;
    
                @include booking-title;
            };
            .booking__info{
                display: flex;
                align-items: center;
                height:38px;
                max-width: 100%;
                .booking__label{
                    min-width: 80px;
                    @include link-text
                };
                .booking__input{
                    max-width: calc(100% - 80px);
                    height:100%;
                    padding:10px;
                    
                    color:$Black;
                    @include link-text;
                    background:$White;
    
                    border-radius: 5px;
                    border: 1px solid $secondary-color-gray-20;
                    &::placeholder{
                        color:$secondary-color-gray-50;
                    }
                    .tappay-field-focus {
                        border-color: #66afe9;
                        outline: 0;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                    };
                };
                .tpfield {
                    @extend .booking__input;
                    max-width: calc(100% - 80px);
                    width:250px;
                };
                .tappay-field-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
            };
            .booking__note{
                height:auto;
                padding:5px 0;
    
                @include slogan-subtitle;
            };
        };
        .booking__payment{
            @extend .booking__contact;
        };
        .booking__summary{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap:22px;
    
            width:1000px;
            padding-bottom: 22px;
            @media only screen and (max-width: 1200px) {
                width: 80vw;
                padding: 0 10px;
            };
            @media only screen and (max-width: 600px) {
                width: 100vw;
            };
            .booking__total-cost{
                color:$secondary-color-gray-70;
                @include text;
            };
            .booking__submit{
                width: fit-content;
                height: 36px;
                padding: 10px 20px;
                background-color: $primary-color-cyan-70;
    
                color:$White;
                @include button;
    
                border: none;
                border-radius: 5px;
                &:hover{
                    cursor: pointer;
                }
            };
            .disabled{
                background-color: $primary-color-cyan-50;
                &:hover{
                    cursor: auto;
                }
            }
        };
    };
};