<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/booking.css">
    <link rel="stylesheet" href="/styles/shared.css">
    <script src="/components/loginPopup.js" type="text/javascript" defer></script>
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>
    <script src="/script/booking.js" type="text/javascript" defer></script>
    <title>預定行程</title>
</head>
<body>
    <popup-component class="popup" id="popup"></popup-component>
    <header-component class="header"></header-component>
    <hr class="separator">
    <div class="main-booking">
        <p class="booking__welcome">你好，<span id="user_name">XXX</span>，待預定的行程如下：</p>
        <p class="booking__welcome" id="no_book_text">目前沒有任何待預訂的行程</p>
        <div class="booking__steps" id="booking_info">
            <div class="booking__list">
                <div class="list-item">
                    <div class="item__img">
                        <img src="https://images.unsplash.com/photo-1611146479742-12b6cdacfbab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2012&q=80" alt="">
                    </div>
                    <div class="item__info-container">
                        <img class="item__delete" src="/icon/icon-delete.png" alt="delete_button" onclick="deleteBookingItem(bookingId)"/>
                        <p class="item__title">台北一日遊：平安鐘</p>
                        <p class="item__info">日期：<span class="item__content">2021-04-23</span></p>
                        <p class="item__info">時間：<span class="item__content">早上9點到下午4點</span></p>
                        <p class="item__info">費用：<span class="item__content">新台幣2000元</span></p>
                        <p class="item__info">地點：<span class="item__content">台北市大安區忠孝東路4段</span></p>  
                    </div>
                </div>
                <div class="list-item">
                    <div class="item__img">
                        <img src="https://images.unsplash.com/photo-1565481107828-4e7f44b4b74f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
                    </div>
                    <div class="item__info-container">
                        <img class="item__delete" src="/icon/icon-delete.png" alt="delete_button" onclick="deleteBookingItem(bookingId)"/>
                        <p class="item__title">台北一日遊：平安鐘</p>
                        <p class="item__info">日期：<span class="item__content">2021-04-23</span></p>
                        <p class="item__info">時間：<span class="item__content">早上9點到下午4點</span></p>
                        <p class="item__info">費用：<span class="item__content">新台幣2000元</span></p>
                        <p class="item__info">地點：<span class="item__content">台北市大安區忠孝東路4段</span></p>
                    </div>
                </div>
            </div>
            <hr class="separator">
            <div class="booking__contact">
                <p class="booking__title">你的連絡資訊</p>
                <div class="booking__info">
                    <label class="booking__label">聯絡姓名：</label>
                    <input class="booking__input" type="text" placeholder="姓名" id="contact_name"/>
                </div>
                <div class="booking__info">
                    <label class="booking__label">聯絡信箱：</label>
                    <input class="booking__input" type="email" placeholder="信箱" id="contact_email"/>
                </div>
                <div class="booking__info">
                    <label class="booking__label">手機號碼：</label>
                    <input class="booking__input" type="text" placeholder="手機號碼" id="contact_phone"/>
                </div>
                <p class="booking__note">請保持手機暢通，準時抵達，導覽人員即將用手機與你聯繫，務必留下正確的聯絡方式。</p>
            </div>
            <hr class="separator">
            <div class="booking__payment">
                <p class="booking__title">信用卡付款資訊</p>
                <div class="booking__info">
                    <label class="booking__label">卡片號碼：</label>
                    <input class="booking__input" type="text" maxlength="16" placeholder="xxxx xxxx xxxx xxxx" id="card_number"/>
                </div>
                <div class="booking__info">
                    <label class="booking__label">過期時間：</label>
                    <input class="booking__input" type="text" placeholder="MM/YY" maxlength="5" id="expire_time"/>
                </div>
                <div class="booking__info">
                    <label class="booking__label">驗證密碼：</label>
                    <input class="booking__input" type="text" placeholder="CVV" maxlength="3" id="validate_number"/>
                </div>
            </div>
            <hr class="separator">     
            <div class="booking__summary">
                <p class="booking__total-cost">總價:新台幣2000元</p>
                <button class="booking__submit">確認訂購並付款</button>
            </div>
        </div>
    </div>
    <footer-component class="footer"></footer-component>
</body>
</html>