<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/shared.css">
    <script src="/components/loginPopup.js" type="text/javascript" defer></script>
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>
    <script type="module" src="/script/main.js" defer></script>
    <script type="module" src="/script/authenticate.js" defer></script>
    <title>台北一日遊</title>
</head>
<body>
    <popup-component class="popup" id="popup"></popup-component>
    <header-component class="header"></header-component>
    <div class="hero">
        <div class="hero__slogan">
            <h1 class="slogan__title">輕鬆享受台北一日悠閒</h1>
            <h2 class="slogan__subtitle">探索每個角落，體驗城市的深度旅遊行程</h2>
            <div class="slogan__search">
                <input class="search__input" id="search_input" type="text" name="keyword" placeholder="輸入景點名稱查詢"/>
                <button class="search__button" type="button" onclick="searchByKeyword()">
                    <img class="search__icon" src="/icon/icon-search.png"/>
                </button>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="mrts-list">
            <div class="mrts-list__left-container">
                <div class="mrts-list__controller" onclick="moveLeft()"></div>
            </div>
            <div class="mrts-list__container">
                <div class="mrts-list__wrapper" id="mrts_list_wrapper"></div>
            </div>
            <div class="mrts-list__right-container">
                <div class="mrts-list__controller" onclick="moveRight()"></div>
            </div>
        </div>
        <div class="attractions-list" id="attractions_list_container">
        </div>
    </div>
    <footer-component class="footer"></footer-component>
</body>
</html>